h1
{
    font-size: 48px;
}
body
{
    color: hsl(50,100%,50%);
    background-color: hsl(210,50%,20%);
}
div
{
    background-color: hsl(180,50%,10%);
    margin-bottom: 10px;
    border: black solid 2px;
}
#results
{
    background-color: hsl(210,50%,20%);
    border: 0px;
}