h1
{
    font-size: 48px;
    margin-bottom: 0px;
}
body
{
    background-color: #33359F;
    background-image: url("pokemon-scarlet-and-violet.jpeg");
    background-size: 100%;
}
#main
{
    display: flex;
    min-height: 100vh;
}
.padding
{
    width: 20%;
    float: left;
}
#content
{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#results
{
    font-size: 72px;
    background-color: #CCCCFF90;
    text-align: center;
}