body
{
    font-family: 'Encode Sans SC', sans-serif;
}
#title
{
    margin-top: 0px;
    text-align: center;
    font-size: 48px;
    background-color: aquamarine;
}
main
{
    display: flex;
}
#content
{
    padding-left: 10px;
    padding-right: 10px;
    width:74%;
    background-color: aqua;
    float: left;
}
.padding
{
    width: 13%;
    background-color: dodgerblue;
    float: left;
}
.flexdisplay
{
    display: flex;
}
.thirds
{
    width:33%;
    left: 20px;
    margin: 20px;
    border: black solid 2px;
    background-color: deepskyblue;
}
.no-left
{
    left: 0px;
}
.fixed
{
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    z-index: 2;
    background-color: aquamarine;
}
.square
{
   width:100%;
   height:auto;
}
div h3
{
    position: relative;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.sidebar
{
    font-size: 24px;
    position: sticky;
    top:0px;
}
.sidebar a
{
    display: block;
    margin-top: 20px;
}