h1
{
    font-size: 48px;
}
body
{
    color: #CCCCFF;
    background-color: #33359F;
}
canvas
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
}
#main
{
    display: flex;
}
#content
{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width:70%;
    background-color: #f0ffff70;
}
.padding
{
    width:30%;
}