#main
{
    display: flex;
}
#content
{
    width:60%;
    background-color: aqua;
    float: left;
}
.padding
{
    width: 20%;
    background-color: dodgerblue;
    float: left;
}
body
{
    background-color: dodgerblue;
}
.item
{
    background-color: cadetblue;
    border: black solid 2px;
    max-width: 500px;
    margin: auto;
}
.itemtext
{
    min-height: 1em;
    background-color: aquamarine;
}
button,input,textarea
{
    display: block;
    margin-bottom: 10px;
}